.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  font-family: "Bree Serif";
  font-size: 30px;
  color: white;
}

.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .con {
    flex-direction: row;
  }
}

.like-btn {
  background-color: #eab308;
  font-family: "Roboto";
  color: white;
  border-width: 0px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.comment-btn {
  background-color: white;
  font-family: "Roboto";
  color: #323f4b;
  border-width: 0px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.share-btn {
  background-color: #1d4ed8;
  font-family: "Roboto";
  color: white;
  border-width: 0px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
